{% extends 'base.html' %}

{% block content %}
{% verbatim %}

<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="m-2 border rounded">
                    <a href="/courses/" class="return-link">
                        <div class="p-2 text-center fw-bold">Back to all courses</div></a>
                </div>
                <div class="m-2 border rounded">
                    <div class="text-center">
                        <div v-for="section in sections">
                            <div class="fw-bold bg-blue">
                                {{ section.name }}
                            </div>
                            <div v-for="lesson in section.lessons">
                                <div class="text-center lesson-element" :data-lesson-id="lesson.id">
                                    {{ lesson.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}
{% endblock content %}

{% block scripts %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/course_details.css' %}">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/course_details.js' %}"></script>
{% endblock scripts %}
