{% extends 'base.html' %}

{% block content %}
{% verbatim %}

<div id="vueApp">
    <div class="container">
        <div class="row" id="courses-list">
            <div class="col-lg-2">
                <div class="m-2 border rounded">
                    <div class="pt-2 text-center fw-bold">
                        Available courses:
                    </div>
                    <div v-for="course in courses">
                        <div class="text-center course-element" v-on:click="getCourseDetails" :data-id="course.id">
                            {{ course.name }}
                        </div>
                    </div>
                </div>
                <div class="m-2 border rounded">
                    <div class="pt-2 text-center fw-bold">
                        Your courses:
                    </div>
                    <div v-for="course in ownCourses">
                        <div class="text-center course-element" v-on:click="redirectToDetails" :data-id="course.id">
                            {{ course.name }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="p-2 m-2 border rounded course-details-container">
                    <div class="container" v-if="hasDetails()">
                        <div class="row m-2">
                            <div class="col-lg-3 text-center">
                                <img :src="courseDetails.image">
                            </div>
                            <div class="col-lg-6 text-center align-self-center">
                                <h1>{{ courseDetails.name }}</h1>
                            </div>
                            <div class="col-lg-3 text-center align-self-center">
                                <div >
                                    <button v-on:click="signUpForCourse" class="btn btn-signup hover-shadow bg-blue">Join Course</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-2">
                            <div class="col-lg-12">
                                {{ courseDetails.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="signupToast" class="toast">Successfully signed up for the course.</div>
</div>

{% endverbatim %}
{% endblock content %}

{% block scripts %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/courses.js' %}"></script>
{% endblock scripts %}
