{% extends 'base.html' %}

{% block content %}
{% verbatim %}

<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="m-2 border rounded">
                    <a href="/courses/" class="return-link">
                        <div class="p-2 text-center fw-bold">Back to all courses</div></a>
                </div>
                <div class="m-2 border rounded">
                    <div class="text-center">
                        <div v-for="section in sections">
                            <div class="fw-bold bg-blue">
                                {{ section.name }}
                            </div>
                            <div v-for="(lesson, index) in section.lessons">
                                <div v-if="index !== section.lessons.length-1" v-on:click="getLessonDetails" class="text-center lesson-element lesson-element-bordered" :data-lesson-id="lesson.id">
                                    {{ lesson.name }} <span v-if="lesson.isComplete">&check;</span>
                                </div>
                                <div v-if="index === section.lessons.length-1" v-on:click="getLessonDetails" class="text-center lesson-element" :data-lesson-id="lesson.id">
                                    {{ lesson.name }} <span v-if="lesson.isComplete">&check;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="m-2 p-2 border rounded" style="min-height: 64px">
                    <div class="container" v-if="lessonDetails !== null">
                        <div class="row m-2">
                            <h2 class="text-center align-self-center text-uppercase">
                                {{ lessonDetails.name }}
                            </h2>
                        </div>
                        <hr>
                        <div class="row m-2">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div v-if="isLesson()">
                                    <div class="text-center m-2">
                                        <video controls width="400px" :src="lessonDetails.video" style="min-width: 400px"></video>
                                    </div>
                                </div>
                                <div v-if="isTest()">
                                    <div v-if="!isBeyondLastQuestion()">
                                        <fieldset :id="currentTestQuestion.id">
                                            <legend>{{ currentTestQuestion.text }}</legend>
                                            <div v-for="answer in currentTestQuestion.answers">
                                                <input type="radio" name="answer" :id="answer.id" :value="answer.id" class="m-2" @click="selectAnswer" /><label :for="answer.id" v-html="answer.text" class="m-2" :id="'answer-' + answer.id"></label><br />
                                            </div>
                                            <button class="btn bg-blue m-2" v-on:click="checkAnswer">Check</button>
                                            <button class="btn bg-light m-2" v-on:click="moveToNextQuestion()">Next &#8594;</button>
                                            <button class="btn bg-light m-2" v-on:click="moveToPreviousQuestion()">Previous &#8592;</button>
                                        </fieldset>
                                    </div>
                                    <div v-if="isBeyondLastQuestion()">
                                        This was the last question. Your score is:
                                    </div>
                                    <div class="m-2 text-center">
                                        {{ getCorrectAnswersCounter() }}
                                    </div>
                                </div>
                                <div class="m-2 text-justify">{{ lessonDetails.description }}</div>
                                <div v-if="lessonDetails.additionalMaterials" class="text-center bg-blue">
                                    <a :href="lessonDetails.additionalMaterials">Download additional materials here.</a>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="m-2" v-if="!lessonDetails.isComplete" v-on:click="markLessonAsComplete()">
                                    <button class="btn btn-complete">Complete</button>
                                </div>
                                <div class="m-2" v-if="lessonDetails.isComplete" v-on:click="revertMarkLessonAsComplete()">
                                    <button class="btn btn-danger">Incomplete</button>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <!-- Header -->
                            <div class="row m-2">
                                <h2 class="text-center align-self-center">
                                    Comments
                                </h2>
                            </div>
                            <hr>
                            <!-- write comment -->
                            <div class="row m-2">
                                <div class="m-2">
                                    <textarea v-model="commentText" style="width: 100%" placeholder="Share your thoughts">{{ commentText }}</textarea>
                                </div>
                                <div class="m-2">
                                    <button class="btn bg-blue right" v-on:click="sendComment()">Send comment</button>
                                </div>
                            </div>
                            <hr>
                            <!-- List -->
                            <div class="row m-2">
                                <div v-for="comment in comments">
                                    <div class="comment-box">
                                        {{ comment.text }}
                                    </div>
                                    <div class="comment-author">
                                        author: {{ comment.author }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endverbatim %}
{% endblock content %}

{% block scripts %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/course_details.css' %}">
    {% if running_prod %}
        <script src="https://unpkg.com/vue@3.2.6/dist/vue.global.prod.js"></script>
    {% else %}
        <script src="https://unpkg.com/vue@3.2.6"></script>
    {% endif %}
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/course_details.js' %}"></script>
{% endblock scripts %}
