{% extends 'base.html' %}
{% block content %}
    <form id="accountCreationForm">
        <p>Create an account</p>
        <p><label for="username">Username:</label></p>
        <p><input type="text" name="username" id="username"></p>
        <p><label for="email">Email:</label></p>
        <p><input type="email" name="email" id="email"></p>
        <p><label for="password">Password:</label></p>
        <p><input type="password" name="password" id="password"></p>
        <p><label for="rePassword">Confirm:</label></p>
        <p><input type="password" name="rePassword" id="rePassword"></p>
        <p><input type="submit" value="Sign Up!"></p>
    </form>
{% endblock content %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'auth.js' %}"></script>
{% endblock scripts %}
