{% extends 'base.html' %}
{% block content %}
{% include 'inline_redirect.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="border rounded p-2 m-2">
                <div>
                    <p class="greetings">
                        Hi!
                    </p>
                    <p class="greetings">
                        I'm happy to see you here. Welcome on the Black Sheep Learns platform built by developers for... Wannabe developers ;-)
                    </p>
                    <p class="greetings">
                        I know how it feels when you first start learning the art of programming: lack of ideas about where to begin, enigmatic documentation, possibly lack of money for bootcamps. I've been there and if you are at this point right now, let me give you a helping hand.
                    </p>
                </div>
                <div align="center">
                    <video controls width="300px">
                        <source src="https://blacksheep-dev2.s3-eu-west-1.amazonaws.com/static/IMG_5515.mov" type="video/mp4" />
                    </video>
                </div>
                <div>
                    <p class="greetings">
                        The aim of this platform is to provide a cheap, yet efficient way of learning programming. From installing necessary tools, through making the first steps up to mastering the necessary skills to let you apply for your first job.
                    </p>
                    <p class="greetings">
                        Why should you try it out?
                        <ul>
                            <li>You pay less than in bootcamp: get free lessons with basics. Subscribe for the paid content only if you feel it's valuable</li>
                            <li>You get more than on Youtube: check your knowledge with tests and monitor your improvements.</li>
                            <li>You can share your thoughts with other students: discuss your problems and solutions in a beginner-friendly environment.</li>
                            <li>Your instructor was at the same point as you are now. I have nothing to hide and you can check this project on GitHub.</li>
                        </ul>
                    </p>
                    <p class="greetings">
                        So, are you joining the herd?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            {% include 'login_form.html' %}
        </div>
        <div class="col-lg-3">
            {% include 'signup_form.html' %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'js/auth.js' %}"></script>
{% endblock scripts %}
