{% extends 'base.html' %}
{% block content %}
    <form id="loginForm">
        <p>Login</p>
        <p><label for="username">Username:</label></p>
        <p><input type="text" name="username" id="username"></p>
        <p><label for="password">Password:</label></p>
        <p><input type="password" name="password" id="password"></p>
        <p><input type="submit" value="Sign Up!"></p>
    </form>
{% endblock content %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'auth.js' %}"></script>
{% endblock scripts %}
