{% extends 'base.html' %}

{% block content %}
    <h1>Terms, conditions and privacy policy</h1>
    <p>
        The administrator of courses.blacksheephacks.pl is Black Sheep Wiktor Gonczaronek registered in Poland
        under VAT number (Numer Identyfikacji Podatkowej) 6711778174, from now on referred as BLACK SHEEP.
    </p>
    <p>
        BLACK SHEEP creates the platform service, available under the address courses.blacksheephacks.pl. The access to the
        platform is restricted to registered users. By using the platform users acknowledge that they are familiar with the following rules.
    </p>
    <p>
        During registration following personal information is required: email address. This data is collected in order to
        avoid spam and necessary features like password reset.
        Users may provide additional personal data like first and last name, though this is not required.
    </p>
    <p>
        BLACK SHEEP may process other personal data like the IP address in order to provide security and analyze the
        way users interact with the service in order to provide stability and efficiency.
    </p>
    <p>
        The courses.blacksheephacks.pl platform is an open source project and therefore the exact details of how the personal data is processed
        can be found in the code.
    </p>
    <p>
        The service uses AWS infrastructure located in Germany and Ireland to serve the application, store and process data.
    </p>
    <p>
        Users have right to see what personal data is processed, alter it and ask to delete it. In order to perform such
        requests, please email your inquiry to admin@blacksheephacks.pl.
    </p>
    <p>
        BLACK SHEEP may restrict access to the platform if malicious actions are detected. Those include: rude, abusive
        language, threats towards other users, spam.
    </p>
    <p>
        On the service courses.blacksheephacks.pl cookies are not used. In order to provide technical functions like logging in,
        tokens stored by the browser in local storage are used.
    </p>
    <p>
        Advertising may be used in order to provide revenue. This includes sites like Ethical Ads. In order to find out how
        this service uses personal data, please read their <a href="https://www.ethicalads.io/privacy-policy/"> privacy policy</a>
    </p>
{% endblock %}