<form id="accountCreationForm" class="form-group border rounded p-2 m-2 bg-blue">
        <p class="text-center">Create an account</p>
        <p><label for="username">Username:</label></p>
        <p><input type="text" name="username" id="username"></p>
        <p><label for="email">Email:</label></p>
        <p><input type="email" name="email" id="email"></p>
        <p><label for="password">Password:</label></p>
        <p><input type="password" name="password" id="password"></p>
        <p><label for="rePassword">Confirm password:</label></p>
        <p><input type="password" name="rePassword" id="rePassword"></p>
        <p><input type="submit" value="Sign Up!" class="btn btn-success"></p>
</form>
