.lesson-element:hover {
    background-color: var(--primary-blue);
    cursor: pointer;
}


.lesson-element-bordered {
    border-bottom: var(--secondary-text-black);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.btn-complete {
    background-color: var(--primary-green);
}

.btn-complete:hover {
    color: var(--secondary-text-black)
}

.btn-incomplete {
    background-color: var(--primary-red);
}

.correct-answer {
    background-color: var(--secondary-green);
}

.incorrect-answer {
    background-color: var(--secondary-red);
}
